registry=https://registry.npmmirror.com
better_sqlite3_binary_host=https://cdn.npmmirror.com/binaries/better-sqlite3
keytar_binary_host=https://cdn.npmmirror.com/binaries/keytar
sharp_binary_host=https://cdn.npmmirror.com/binaries/sharp
sharp_libvips_binary_host=https://cdn.npmmirror.com/binaries/sharp-libvips
robotjs_binary_host=https://cdn.npmmirror.com/binaries/robotjs
